# Data and outputs
data/

# Virtual environments
venv/
.venv/
.env

# Build artifacts
build/
*.egg-info/
*.pyc
__pycache__/
.pytest_cache/

# Editor configs
.vscode/

# Documentation
docs/build/*
docs/source/API/*
!docs/source/API/index.rst

# Specific project paths
pkgs/parreg/build
pkgs/parreg/tests/test_data/test_outputs
nwm-rte

# random files not for tracking
files_not_tracked/
